App {
  color: #fff;
  background: #08060d;
}

:root {
  --border: #2c2c2c;
  --text-h: #fff;
  --code-bg: #1e1e1e;
  --heading: 'Inter', sans-serif;
  --mono: 'SF Mono', SF Mono, Consolas, 'Liberation Mono';
}
